h2 {
    color: blue;
    background-color: red;
    text-align: right;
}

#app-container {
    background-color: red;
    /* height: 100%;
    width: 100%; */
    height: 100vh; /*vh - viewport height*/
    width: 100vw;
}

#left-container {
    background-color: aquamarine;
    height: 100%;
    width: 20%;
    float: left;
    padding: 10px;
    background-image: url(./img/background-blue.png);
}

#right-container {
    background-color: blue;
    height: 100%;
    width: 80%;
    float: left;
    background-image: url(./img/background-white.png);
}

.ui.input {
    width: 100%;    
}